.form{
    border:1px solid gray;
    width:50%;
    float:right;
    display:inline-block;

}

.section-1{
    background-color:#FFFFF0;
    display:grid;
    grid-template-columns:1fr 1fr ;

}

.text{
    text-align: left;
    padding: 30px;
    Left:10px;
    display:inline-block;

}

body {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
}

/* HEADER SECTION */


/* navigation bar */

.navbar {
    height: 80px;
    box-shadow: 0 0 15px #3B1A89;
    z-index: 9999;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.bg-dark {
    background-color: #5927CF !important;
}


/* navigation-blocks + links + logo*/

.logo {
    width: 70px;
    height: 70px;
}

.ml-auto {
    margin-left: auto !important;
    margin-right: 3%;
}

.navbar-nav {
    margin-left: 3%;
}

.navigation-links {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px 0 15px;
}

.dropdown-link {
    color: black !important;
}

.dropdown-menu {
    position: absolute;
    text-align: center;
    list-style: none;
    right: auto;
    border: none !important;
    background-color: white;
    border-radius: 10px;
}

.navbar-brand {
    margin-left: 1%;
}


/* navigation effects/animation */

.navigation-links {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.navigation-links:hover,
.navigation-links:focus,
.navigation-links:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}


/* navbar toggler */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    display: block;
    line-height: 1;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.navbar-toggler {
    position: relative;
    background: transparent;
    padding-left: 2%;
}

.navbar-toggler::before {
    position: absolute;
    content: '';
    top: -8px;
    right: -12px;
    left: -12px;
    bottom: -8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}


/* footer */

.footer {
    background-color: #5927CF;
    width: 100%;
    display: block;
}


/* footer-blocks + links + logo */

.footer-brand {
    margin: 5px 0 10px 5px;
}

.company-text-footer {
    margin: 40px 40px 0 31px;
}

.opening-hours a {
    text-decoration: none;
    color: #fffff0;
    background-color: #a276fd;
    padding: 5px;
}

.footer p,
li {
    font-weight: bold;
    color: #fffff0;
}

.company-text-footer,
.copyright-tekst {
    font-weight: bold;
    color: #fffff0;
}

.footy {
    position: relative;
    display: inline-block;
}

.footer-links {
    display: block;
    list-style-type: none;
    text-decoration: none;
    padding: 0.25rem 0;
    letter-spacing: 2px;
    text-align: left;
    position: relative;
    margin-bottom: 0.625rem;
    margin-top: 10px
}


/* social media links */

.follow {
    font-size: 18px;
    font-weight: bold;
}

.social-network {
    display: inline-block;
    list-style: none;
}

.social-network li {
    display: inline;
    margin-right: 14px;
    margin-left: 14px;
}

.social-network ul {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}


/* icons */

.social-network a.icoFacebook:hover {
    background-color: #a276fd;
}

.social-network a.icoTwitter:hover {
    background-color: #a276fd;
}

.social-network a.icoInstagram:hover {
    background-color: #a276fd;
}

.social-network a.icoYoutube:hover {
    background-color: #a276fd;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #D3D3D3;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}


/* icon animation */

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}


/* END OF FOOTER SECTION */


